.first-color { 
	background: #f7aa00; 
}
	
.second-color { 
	background: #235784; 
}

.third-color { 
	background: #40a8c4; 
}

.fourth-color { 
	background: #bcdbdf; 
}

body {
  margin-left: 8px;
  padding: 20px;
	background-image: url(pexels-pixabay-325876\ \(1\).jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #235784;
    padding: 0%;

}
html{font-size: 1em;}

h1 {
  font-size: 2em ;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#f7aa00;
  background-color: #40a8c4;
  padding: 1% 0.5% 1% 0.5% ;
  margin: 0%;
}
h2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #bcdbdf;
  color:  #235784;
  margin: 0;
  padding-bottom: 1%;
  
}
#suits {
  width: 38vw;
  float: right;
  margin-block-start: 3vh  ;
  margin-inline-end: 2vw;

}
#lino {
  color:red;
  font-size: 55px;
  font-family: sans-serif;
}
.linoo {
  color: red;
}
.kaftor {
  color: white;
  background-color: #40a8c4;
  width: 24vw;
  margin-left: 31%;

  height: 30px;
  font-family: sans-serif;
  font-size: 16px;
  border: outset 3px silver;
}
form {
  border: 7px double #1C6EA4;
border-radius: 20px;
  font-size: 1em;
  background-color: #f7aa00;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}
.tofes { width: 60vw; padding: 0.4em;}

input[type=text], input[type=date], input[type=mail], input[type=tel], input[type=password], select{
    width: 39%;
    
}
input[type=email] {
    width: 50%;
}
input:hover {background-color: red;}
